<div class="marginContent">


<div class="search-bar">
    <input type="text" placeholder="Search tasks..." (input)="onSearchChange($event)" class="search-input">
  </div>
  
  <div class="filters">
    <button class="spacec" mat-raised-button color="primary" routerLink="/tasks/add">Add Task</button>
    <label for="status">Status:</label>
    <select id="status" (change)="onFilterChange($event, 'status')" class="filter-select">
      <option value="">All</option>
      <option value="pending">Pending</option>
      <option value="completed">Completed</option>
    </select>
  
    <label for="category">Category:</label>
    <select id="category" (change)="onFilterChange($event, 'category_id')" class="filter-select">
      <option value="">All</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  

    <label for="dueDate">Due Date:</label>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="resetDate()">Reset Date</button>
  

  <label for="sortBy">Sort By:</label>
    <select id="sortBy" (change)="onSortChange($event)" class="filter-select">
        <option selected value="">None</option>
        <option value="due_date">Due Date</option>
        <option value="title">Title</option>
        <option value="description">Description</option>
        <option value="category_name">Category Name</option>
        <option value="created_at">Creation Date</option>
        <option  value="updated_at">Last Updated</option>

    </select>
    <select id="sortOrder" (change)="onSortChange($event)" class="filter-select">
        <option selected value="">None</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
  </div>
  
  <div class="task-list">
    <div *ngFor="let task of tasks" class="task-card">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Due Date: {{ task.due_date }}</p>
      <p>Category: {{ getCategoryName(task.category_id) }}</p>
      <button mat-flat-button color="accent" [routerLink]="['/tasks/update', task.id]">Edit</button>
      <p></p>
      <button mat-flat-button color="warn" [routerLink]="['/tasks/delete', task.id]">Delete</button>
    </div>
  </div>
  
  <div class="pagination">
    <button (click)="onPageChange(page - 1)" [disabled]="page <= 1">Previous</button>
    <span>Page {{ page }} of {{ totalPages }}</span>
    <button (click)="onPageChange(page + 1)" [disabled]="page >= totalPages">Next</button>
  </div>
</div>