<h2 class="center">Add Task</h2>
<form (ngSubmit)="addTask()" class="task-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="task.title" name="title" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="task.description" name="description" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select id="status" [(ngModel)]="task.status" name="status" required>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="completed">Completed</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" id="dueDate" [(ngModel)]="task.due_date" name="dueDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select id="category" [(ngModel)]="task.category_id" name="category" required>
      <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add</button>
</form>